html, body{
	height: 98%;
	width: 98%;
}

div#header, div#stats, div#skills, div#background {
	width: 80%;
	margin: 0 auto;
}

input.txt, input.btn, input.number{
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

/*Sombreado*/
.shadowed{
	box-shadow: 3px 3px 1.5px #000000
}

/*Selectores*/
select {
   border: 1px solid #111;
   background: transparent;
   width: 100%;
   padding: 5px 35px 5px 5px;
   border: 1px solid #ccc;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    background: url(../images/dropdown.ico) 96% / 15% no-repeat #eee;
} 

/*Para poner una separacion entre algunas filas*/
tr.emptyRow td{
	height: 0.30em;
}

/*Celdas autocalculadas*/
td.calculated {
	border-radius: 3px;
	border: solid 1px lightgrey;
	background-color: #ccffcc;
}

td.passive {
	border-radius: 3px;
	border: solid 1px lightgrey;
	background-color: #A0DFDE;
}


/*Cabecera de fondo negro*/
tr.blackRow td{
	border-radius: 10px;
	background-color: black;
	color: white;
	font-weight: bolder;
}

/*Cabecera de fondo gris*/
tr.greyRow td{	
	text-align: center;
	background-color: lightgrey;
	color: grey;
	font-style: italic;
	font-weight: bolder;
}

tr.greyRow td:first-child{
	padding-left: 0.6em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

tr.greyRow td:last-child{
	padding-right: 0.6em;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/*Tabla superior*/
table#headTable{
	table-layout: fixed;
	margin: 0 auto;
	width: 100%;
}

table#headTable tr td.bot{
	vertical-align: bottom;
}

table#headTable tr td.top{
	vertical-align: top;
	text-align: center;
}

img{
	width: 100%;
}


/*Estilo general de tablas*/
table.bodyTables{
	margin-top: 0.1em;
	border-collapse: separate;
	text-align: center;
	float: left;
	margin-left: 5%;
}
/*Tabla de estadisticas basicas*/
table#statsTable{
	table-layout: fixed;
	width: 40%;
	border-spacing: 0 0.1em;
}

input.scoreNumber{
	border-radius: 7px;
	width: 75%;
	text-align: center;
	margin: 0 auto;
}

td.blackCell{
	border-radius: 3px;
	background-color: black;
	color: white;
	padding: 0.35em;
	font-weight: bolder;
}

/*Tabla de vida y velocidad*/
table#lifeAndSpeed{
	table-layout: auto; 
	width: 40%;
	border-spacing: 0.2em 0.1em;
}

table#lifeAndSpeed tr td.verticalSeparator{
	width: 4%;
}

table#lifeAndSpeed tr:last-child{
	font-style: italic;
	font-weight: bold;
	vertical-align: top;
}

td.verticalSeparator hr{
	height: 3em;
	width: 1;
}

/*Tabla de iniciativa*/
table#initiativeTable{
	table-layout: fixed; 
	width: 18%;
	border-spacing: 0.2em 0.1em;
}

table#initiativeTable tr:last-child{
	font-style: italic;
	font-weight: bold;
	vertical-align: top;
}

/*Tabla de armadura*/
table#acTable{
	table-layout: fixed;
	margin-left: 1%;
	width: 21%;
	border-spacing: 0.2em 0.1em;
}

td.caText{
	font-size: 1vw;
	font-style: italic;
	font-weight: bolder;
}

/*Tabla de nivel y experiencia*/
table#expTable{
	table-layout: fixed;
	width: 40%;
	border-spacing: 0.2em 0.1em;
}

table#expTable tr:last-child{
	font-style: italic;
	font-weight: bold;
	vertical-align: top;
}

/*Tabla de bonus y penalizaciones*/
table#bonusTable{
	table-layout: fixed;
	clear: left;
	width: 30%;
}

table#bonusTable tr td.instructions{
	font-size: 0.75em;
}

table#bonusTable tr td.legendBonus{
	font-style: italic;
	font-weight: bolder;
}

table#bonusTable tr td.greyCell{
	background-color: lightgrey;
	color: grey;
	border-radius: 10px;
	font-style: italic;
	font-weight: bolder;
}


table#bonusTable tr td input.bonusInputs{
	width: 100%;
	text-align: center;
}

/*Tabla de dados de golpe*/
table#hitDieTable{
	table-layout: fixed;
	width: 50%;
	border-spacing: 0 0.3em;
}

/*Tabla de muerte e inspiracion*/
table#deathInspiration{
	table-layout: fixed;
	width: 50%;
	border-spacing: 0 0.1em;
}

table#deathInspiration tr td.greyCell{
	background-color: lightgrey;
	color: grey;
	border-radius: 10px;
	font-style: italic;
	font-weight: bolder;
}

table#deathInspiration tr td.misteryRoll{
	border: 1px solid black;
	border-radius: 10px;
	font-weight: bolder;
}

table#deathInspiration tr td.noStatus{
	background-color: darkred;
	color: white;
	font-weight: bolder;
	font-style: italic;
	border-radius: 10px;
	vertical-align: center;
}

/*Tabla de habilidades*/
table#skillsTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

table.innerTable{
	width: 100%;
	table-layout: fixed;
	border-spacing: 0 0.1em;
}

.emptyCol{
	width: 0.5em;
}

/*Tabla de apariencia*/
table#appearanceTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

.legend{
	font-weight: bolder;
	font-style: italic;
}

/*Tabla de transfondos*/
table#backgroundTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

textarea.backgroundTexts{
	width: 100%;
	border-radius: 6px;
}

/*Tabla de proficiencias de equipamientos*/
table#equipamentProficienciesTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

/*Tabla cualquier otra nota*/
table#anyOtherNoteTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}