html, body{
	height: 98%;
	width: 98%;
}

div#header, div#stats, div#skills, div#background, div#classes, div#weapons, div#armors {
	width: 80%;
	margin: 0 auto;
}

 div#stats, div#skills, div#background, div#classes, div#weapons, div#armors{
 	display: none;
 }

/*Lo que afecta a floateable y .floateable:after consigue que los div con elementos con float dentro tengan una altura definida*/
.floatable{
	overflow: hidden;
}

.floatable:after
{
content:".";
display:block;
clear:both;
visibility:hidden;
}

input.txt, input.btn, input.number{
	width: 97%;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
}

/*Estilo de los botones principales*/
.btnBlue {
  background: #2097e6;
  background-image: -webkit-linear-gradient(top, #2097e6, #297bad);
  background-image: -moz-linear-gradient(top, #2097e6, #297bad);
  background-image: -ms-linear-gradient(top, #2097e6, #297bad);
  background-image: -o-linear-gradient(top, #2097e6, #297bad);
  background-image: linear-gradient(to bottom, #2097e6, #297bad);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  width: 100%;
  font-weight: bolder;
  text-shadow: 3px 3px 2px #000000;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 3px;
  text-decoration: none;
}

.btnBlue:hover {
  background: #58b6f0;
  background-image: -webkit-linear-gradient(top, #58b6f0, #55a1d4);
  background-image: -moz-linear-gradient(top, #58b6f0, #55a1d4);
  background-image: -ms-linear-gradient(top, #58b6f0, #55a1d4);
  background-image: -o-linear-gradient(top, #58b6f0, #55a1d4);
  background-image: linear-gradient(to bottom, #58b6f0, #55a1d4);
  text-decoration: none;
}

.btnSelected {
  background: #e6a420;
  font-weight: bolder;
  background-image: -webkit-linear-gradient(top, #e6a420, #a87a18);
  background-image: -moz-linear-gradient(top, #e6a420, #a87a18);
  background-image: -ms-linear-gradient(top, #e6a420, #a87a18);
  background-image: -o-linear-gradient(top, #e6a420, #a87a18);
  background-image: linear-gradient(to bottom, #e6a420, #a87a18);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  width: 100%;
  text-shadow: 3px 3px 2px #000000;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #876b4c 3px;
  text-decoration: none;
}

/*Sombreado*/
.shadowed{
	box-shadow: 3px 3px 1.5px #000000
}

/*Selectores*/
select {
   border: 1px solid #111;
   background: transparent;
   width: 100%;
   padding: 5px 35px 5px 5px;
   border: 1px solid #ccc;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font-size: 0.7em;
    background: url(../images/dropdown.ico) 96% / 15% no-repeat #eee;
} 

/*Para poner una separacion entre algunas filas*/
tr.emptyRow td{
	height: 0.30em;
}

/*Celdas autocalculadas*/
td.calculated {
	border-radius: 3px;
	font-weight: bolder;
	border: solid 1px lightgrey;
	background-color: #ccffcc;
}

td.passive {
	border-radius: 3px;
	border: solid 1px lightgrey;
	background-color: #A0DFDE;
}


/*Cabecera de fondo negro*/
tr.blackRow td{
	border-radius: 10px;
	background-color: black;
	color: white;
	font-weight: bolder;
}

/*Cabecera de fondo gris*/
tr.greyRow td{	
	text-align: center;
	background-color: lightgrey;
	color: grey;
	font-style: italic;
	font-weight: bolder;
}

tr.greyRow td:first-child{
	padding-left: 0.6em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

tr.greyRow td:last-child{
	padding-right: 0.6em;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

td.greyCell{
	background-color: lightgrey;
	color: grey;
	border-radius: 10px;
	font-style: italic;
	font-weight: bolder;
}

/*Tabla superior*/
table#headTable{
	table-layout: fixed;
	margin: 0 auto;
	width: 100%;
}

table#headTable tr td.bot{
	vertical-align: bottom;
}

table#headTable tr td.top{
	vertical-align: top;
	text-align: center;
}

img{
	width: 100%;
}


/*Estilo general de tablas*/
table.bodyTables{
	margin-top: 0.1em;
	border-collapse: separate;
	text-align: center;
	float: left;
	margin-left: 5%;
}
/*Tabla de estadisticas basicas*/
table#statsTable{
	table-layout: fixed;
	width: 40%;
	border-spacing: 0 0.1em;
}

input.scoreNumber{
	border-radius: 7px;
	width: 75%;
	text-align: center;
	margin: 0 auto;
}

td.blackCell{
	border-radius: 3px;
	background-color: black;
	color: white;
	padding: 0.35em;
	font-weight: bolder;
}

/*Tabla de vida y velocidad*/
table#lifeAndSpeed{
	table-layout: auto; 
	width: 40%;
	border-spacing: 0.2em 0.1em;
}

table#lifeAndSpeed tr td.verticalSeparator{
	width: 4%;
}

table#lifeAndSpeed tr:last-child{
	font-style: italic;
	font-weight: bold;
	vertical-align: top;
}



/*Tabla de iniciativa*/
table#initiativeTable{
	table-layout: fixed; 
	width: 18%;
	border-spacing: 0.2em 0.1em;
}

table#initiativeTable tr:last-child{
	font-style: italic;
	font-weight: bold;
	vertical-align: top;
}

/*Tabla de armadura*/
table#acTable{
	table-layout: fixed;
	margin-left: 1%;
	width: 21%;
	border-spacing: 0.2em 0.1em;
}

td.caText{
	font-size: 1vw;
	font-style: italic;
	font-weight: bolder;
}

/*Tabla de nivel y experiencia*/
table#expTable{
	table-layout: fixed;
	width: 40%;
	border-spacing: 0.2em 0.1em;
}

table#expTable tr:last-child{
	font-style: italic;
	font-weight: bold;
	vertical-align: top;
}

/*Tabla de bonus y penalizaciones*/
table#bonusTable{
	table-layout: fixed;
	clear: left;
	width: 30%;
}

table#bonusTable tr td.instructions{
	font-size: 0.75em;
}

table#bonusTable tr td.legendBonus{
	font-style: italic;
	font-weight: bolder;
}

table#bonusTable tr td input.bonusInputs{
	width: 100%;
	text-align: center;
}

/*Tabla de dados de golpe*/
table#hitDieTable{
	table-layout: fixed;
	width: 50%;
	border-spacing: 0 0.3em;
}

.classNames{
	font-size: 0.8em;
}

/*Tabla de muerte e inspiracion*/
table#deathInspiration{
	table-layout: fixed;
	width: 50%;
	border-spacing: 0 0.1em;
}

table#deathInspiration tr td.greyCell{
	background-color: lightgrey;
	color: grey;
	border-radius: 10px;
	font-style: italic;
	font-weight: bolder;
}

table#deathInspiration tr td.misteryRoll{
	border: 1px solid black;
	border-radius: 10px;
	font-weight: bolder;
}

table#deathInspiration tr td.noStatus{
	background-color: darkred;
	color: white;
	font-weight: bolder;
	font-style: italic;
	border-radius: 10px;
	vertical-align: center;
}

/*Tabla de habilidades*/
table#skillsTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

table.innerTable{
	width: 100%;
	table-layout: fixed;
	border-spacing: 0 0.1em;
}

.skillNames{
	font-size: 0.7em;
	text-align: left;
}

.emptyCol{
	width: 0.5em;
}

/*Tabla de apariencia*/
table#appearanceTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

.legend{
	font-weight: bolder;
	font-style: italic;
}

/*Tabla de transfondos*/
table#backgroundTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

textarea.backgroundTexts{
	width: 100%;
	border-radius: 6px;
}

/*Tabla de proficiencias de equipamientos*/
table#equipamentProficienciesTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

/*Tabla cualquier otra nota*/
table#anyOtherNoteTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

/*Tabla de niveles de clases*/
table#classLevels{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

.rightText{
	text-align: right;
}

/*Tabla de notas de clase y raza*/
table#classRaceNotes{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

/*Lista de acciones*/
div#classActions{
	margin-left: 5%;
	width: 85%;
	float: left;
	position: relative;
}

h4{
	margin-bottom: 0.3%;
	background-color: black;
	border-radius: 10px;
	color: white;
	text-align: center;
	padding: 0.1em;
}

div#leftButton{
	width: 5%;
	height: 5%;
	margin-left: 35%;
	float: left;
}

div#rightButton{
	float: right;
	width: 5%;
	margin-right: 35%;
	height: 5%;
}

/*Tabla de armas a melee*/
table#meleeWeapons{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

.smallFont{
	font-size: 0.8em;
}

/*Tabla de armas a distancia*/
table#rangedWeapons{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

/*Tabla de armaduras*/
table#armorTable{
	table-layout: fixed;
	width: 85%;
	border-spacing: 0 0.1em;
}

#unarmoredType{
    background: url(../images/dropdown.ico) 96% / 7% no-repeat #eee;
}